.box__button {
    display: flex;
    justify-content: center;
  }

  .button {
    padding: 1rem 1.5rem;
    border: 0.125rem solid var(--cor-principal);
    border-radius: 0.5rem;
    box-shadow: var(--effect-shadow-enabled-primary);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
  }

  .button--primary {
    background-color: var(--cor-principal);
    color: var(--gray-50);
  }

  .button:hover {
    box-shadow: var(--effect-shadow-hovered-primary);
    background-color: var(--blue-600);
    transform: translateY(-0.25rem);
  }
  
  .button:focus {
    box-shadow: var(--effect-shadow-focused-primary);
    background-color: var(--blue-700);
    transform: translateY(-0.125rem);
  }

  .button--secondary {
    background-color: transparent;
    color: var(--cor-principal);
  }

  .button--secondary:focus, .button--secondary:hover {
    color: var(--gray-50);
  }


  